html
{
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-color: rgb(253, 97, 97);
}

input
{
    margin-bottom: 5%;
    width: 70%;
    font-size: large;
}

.heading
{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form
{
    font-size: x-large;
    font-family: sans-serif;
    margin-left: 25%;
}

.button
{
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 20%;
    border-radius: 40px;
    background-color: antiquewhite;
    font-weight: 200;
}
.button:hover
{
    background-color: rgb(252, 202, 128);
}